@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is for educational purpose only.
    with this project you are allowed to implement new functionalities
    and keep it going.
    Use this area to provide additional information.</p>
