@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>XRP SOLUTIONS</h1>
    <p class="lead">
        This is a simple program to Create & Maintain a Debtor’s Master File, Stock Master File and an Invoicing program. Note that the data files,
        fields and input requirements for this program are pretty basic and only a small subset of a fully blown
        system.
    </p>

</div>



















